@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,800&family=Roboto&family=Roboto+Slab&display=swap');

.foods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.food {
    flex-basis: 25%;
    margin: 1em;
    /* text-align: center; */
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    /* border: 1px solid; */
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
}

.foodCard {
    margin-left: 35em;
    margin-top: 2em;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.food__badFoodsTitle {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.food__myFoodsTitle {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.foodSearchText {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin-left: 2em;
    margin-top: 1em;
}

.food__newFoodButton {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin-left: 78em;
    margin-bottom: 1em;
}

.foodForm {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.food__DetailsName {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

.card-img {
    height: auto;
    max-height: 277px;
    /* width: auto; */
    max-width: 400px;

}

.foodDeleteButton {
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
}

.foodEditButton {
    margin-bottom: 1em;

}

/* .foodDetails {
    justify-content: center;
    align-items: center;
} */