@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,800&family=Roboto&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.foods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    
}

.food {
    flex-basis: 25%;
    margin: 20px;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    padding: 0px;
    box-shadow: 0px 2px 4px #afafaf;
    border: none !important;
    border-radius: 0px !important;
    /* max-width: 100%; */

}

.foodCard {
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    box-shadow: 0px 2px 4px #afafaf;
    border: none !important;
    border-radius: 0px !important;
    position: absolute;
    top: 20%;
    left: 35%;
    transform: translate(15%, 15%);
    /* max-width: 100%; */
    /* text-align: center; */

}

.food__badFoodsTitle {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.food__myFoodsTitle {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin-left: 100px;
}

.myFoodsTextTitle {
    font-size: 19px;
    color: black;
    position: absolute;
    top: 83%;
    left: 50%;
    bottom: auto;
    transform: translate(-50%, -50%);
    /* font-size: 18px; */
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0px;
    text-shadow: 1px 1px #00000025;
}

.foodSearchText {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin-left: 2em;
    margin-top: 1em;
}

.food__newFoodButton {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin-left: 78em;
    margin-bottom: 1em;
}

.foodForm {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.food__DetailsName {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 20px;
}

.card-img, .card-img-top {
    height: auto;
    max-height: 300px;
    /* width: auto; */
    max-width: 300px;
    border: none !important;
    border-radius: 0px !important;
    border-top: 0px !important;
    min-height: 320px;
    min-width: 320px;


}

.foodDeleteButton {
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
}

.foodEditButton {
    margin-bottom: 1em;

}

/* .foodDetails {
    justify-content: center;
    align-items: center;
} */

.card-body {
    padding-right: 4px !important;

}