@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,700;1,400&family=Playfair+Display:wght@400;600&display=swap');

.poops {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif; 
    /* text-align: center; */
}

.poop {
    flex-basis: 20%;
    margin: 1em;
    /* text-align: center; */
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}
.bowelMovements__Title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}


.bowelMovements__Title {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.poopForm {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.addPoopButton {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}