@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,700;1,400&family=Playfair+Display:wght@400;600&display=swap');

.poops {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif; 
    /* text-align: center; */
}

.poop {
    flex-basis: 20%;
    margin: 1em;
    /* text-align: center; */
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    /* border: 1px solid;
    padding: 10px; */
    box-shadow: 5px 10px 8px #888888;
}

.poopCard {
    margin-left: 27em;
    margin-top: 2em;
    box-shadow: 5px 10px 8px #888888;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.bowelMovements__Title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}


.bowelMovements__Title {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.poopForm {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.addPoopButton {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.poopEditButton {
    margin-left: 1em;
    margin-bottom: 1em;
}